
@font-face {
    font-family: "LibreFranklin-Regular";
    src: url(../font/LibreFranklin-Regular.ttf);
  }
  
  
  @font-face {
    font-family: "SourceSerifPro-Regular";
    src: url(../font/SourceSerifPro-Regular.ttf);
  }
  
  @font-face {
    font-family: "TenorSans-Regular";
    src: url(../font/TenorSans-Regular.ttf);
  }
  @font-face {
    font-family: "LibreFranklin-Bold";
    src: url(../font/LibreFranklin-Bold.ttf);
  }


  